# security / ssl
*.pem
*.xxjson
.ssh/id_rsa

vendor
config.toml
bin/
engine

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go


# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

*.prof

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


# WebStorm
*.iml

# Sublime Text
.sublime-workspace

# Directory-based project format:
.idea/
.idea/workspace.xml
**/.idea/workspace.xml

# mac hidden files
.DS_Store

#other
node_modules/
bower_components/
.tmp
.sass-cache
builds/**/images/*
*.ogg
*.mp3
*.mp4
#*.png
#*.jpeg


# Dependency directories (remove the comment below to include it)
# vendor/
.env

# Anything under a tmp folder
**/tmp/*